HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified


# # Server
# HOST=0.0.0.0
# PORT=1337

# # Secrets
# APP_KEYS=MUbeLfamjlE5WxNP8xf9mw==,gtR41sy6U6MWOE6g22tzjA==,HTwwqZGx6wDQS3sYX94S3Q==,5fBGO7gw31P1BX/iQzzqUQ==
# API_TOKEN_SALT=S4sePL9YrIhnkbQUGLonDw==
# ADMIN_JWT_SECRET=eMNWbH2+I24mYaQ+JAX11w==
# TRANSFER_TOKEN_SALT=ccLK4TeVn/er2K4nc5Xwaw==

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=wcc_accre
DATABASE_USERNAME=root
DATABASE_PASSWORD=root
DATABASE_SSL=false
DATABASE_FILENAME=
