# HOST=0.0.0.0
# PORT=1337
APP_URL=https://dev-orangevent.onrender.com
APP_KEYS=5zWa3SJibH5pEhg82iIcLQ==,/2HwP0/w0Zuapm6erW5lRw==,BO3tMvYImpQTke7W8b6MUQ==,s33MKqWde35rwMJMBaT3aw==
API_TOKEN_SALT=DEkyQrN0LA0a4/gdbtUNMw==
ADMIN_JWT_SECRET=D3oNyd4skKT9mXHZ7hT9NQ==
TRANSFER_TOKEN_SALT=v1L4nQbtG5XdqiiaQLIi/Q==
# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=dpg-cnat05qcn0vc7391sj80-a.singapore-postgres.render.com
DATABASE_PORT=5432
DATABASE_NAME=orangevent
DATABASE_USERNAME=orangevent_user
DATABASE_PASSWORD=maCaveILWoNLcFetbZ4WchTbaIUOdvur
DATABASE_SSL=true
JWT_SECRET=amTt64vPCi4rtxdjTT8ZgA==

#email
SMTP_PROVIDER=nodemailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=dev.orangevent@gmail.com
SMTP_PASSWORD=lvthtfjjnfvpdamw
SMTP_DEFAULT_FROM_REPLYTO=dev.orangevent@gmail.com

#sendgrid
MAILER=sendgrid
SENDGRID_API_KEY=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

#cloudinary
CLOUDINARY_NAME=dpbvszn7a
CLOUDINARY_KEY=479785416188776
CLOUDINARY_SECRET=xijJi_1HjvXIsusozohqvWfl7KM
#Google
GOOGLE_CLIENT_ID=204106244747-direjgafrs2qifmfkfdem3pcejf8isjg.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

#Facebook
FACEBOOK_CLIENT_ID=1453940508489031
FACEBOOK_CLIENT_SECRET=2d22c2977b846ec7f7fdee5229e06976

STRAPI_BASE_FRONTEND=http://localhost:8000

JWT_GATE_SECRET=@0ran6event2024!