HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=MUbeLfamjlE5WxNP8xf9mw==,gtR41sy6U6MWOE6g22tzjA==,HTwwqZGx6wDQS3sYX94S3Q==,5fBGO7gw31P1BX/iQzzqUQ==
API_TOKEN_SALT=S4sePL9YrIhnkbQUGLonDw==
ADMIN_JWT_SECRET=eMNWbH2+I24mYaQ+JAX11w==
TRANSFER_TOKEN_SALT=ccLK4TeVn/er2K4nc5Xwaw==

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=dpg-d6nq04s50q8c73ahdkp0-a.singapore-postgres.render.com
DATABASE_PORT=5432
DATABASE_NAME=wcc_accre_4s26_26pk
DATABASE_USERNAME=wcc_accre_4s26_26pk_user
DATABASE_PASSWORD=OjaeLVdBKjOIPC4C3g9sXB3wnIznGLJe
DATABASE_SSL=true
DATABASE_FILENAME=
JWT_SECRET=3lW2le8MWTXodXACBuRn4Q==

#cloudinary

CLOUDINARY_NAME=dfdeyuadt
CLOUDINARY_KEY=152489112638699
CLOUDINARY_SECRET=lb7Yj3li9IdK1UAg4ZR_yA73IVg