# HOST=0.0.0.0
# PORT=1337
APP_URL=https://dev-orangevent.onrender.com
APP_KEYS=5zWa3SJibH5pEhg82iIcLQ==,/2HwP0/w0Zuapm6erW5lRw==,BO3tMvYImpQTke7W8b6MUQ==,s33MKqWde35rwMJMBaT3aw==
API_TOKEN_SALT=DEkyQrN0LA0a4/gdbtUNMw==
ADMIN_JWT_SECRET=D3oNyd4skKT9mXHZ7hT9NQ==
TRANSFER_TOKEN_SALT=v1L4nQbtG5XdqiiaQLIi/Q==
# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=dpg-cnat05qcn0vc7391sj80-a.singapore-postgres.render.com
DATABASE_PORT=5432
DATABASE_NAME=orangevent
DATABASE_USERNAME=orangevent_user
DATABASE_PASSWORD=maCaveILWoNLcFetbZ4WchTbaIUOdvur
DATABASE_SSL=true
JWT_SECRET=amTt64vPCi4rtxdjTT8ZgA==

